<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    {{! BOOTSTRAP CDN }}
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/zephyr/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/public/main.css" />
  </head>

  <body>
    <div class="container p-4">
      <div class="row">
        {{{body}}}
      </div>
    </div>
  </body>

</html>